@charset "utf-8";
/* CSS Document */


@media only screen and (min-width: 1024px) and (max-width: 1199px) {

}

@media only screen and (min-width: 768px) and (max-width:1023px) {


}
@media only screen and (max-width:991px) {
/*.header-meta nav.nav{display:none}
.mm-toggle{display: flex;justify-content: flex-end;flex: 1 1 0%;align-items: center;}
*/
}
@media only screen and (min-width: 768px) {
.header-meta nav.nav ul ul li.menu-item-749,
.header-meta nav.nav ul ul li.menu-item-750{display:none}
}
@media only screen and (max-width: 767px) {
.header-meta nav.nav{display:none}
.mm-toggle{display: flex;justify-content: flex-end;flex: 1 1 0%;align-items: center;}
.logo{text-align:left}
.topNav{padding:0 15px;}
.is-sticky a.logo img{ max-height:none}
.is-sticky .header-meta .contact-info,
.header-meta .contact-info{padding-left:15px;}
.mobile-menu li.menu-item-291,
.mobile-menu li.menu-item-549{border-top:none}
.mobile-menu li.menu-item-717 > a,
.mobile-menu li.menu-item-718 > a{display:none}
.mobile-menu li .expand {display:none}
.mobile-menu ul.sub-menu{display:block !important}
.mobile-menu ul.sub-menu li a{ padding:10px 15px;background: #f9f9f9;}
.mobile-menu ul.sub-menu li a:hover {background: #e1e1e1;color: #000;}
.mobile-menu li.menu-item-318,
.mobile-menu li.menu-item-570{display:none}


body.page-id-266 {}
body.page-id-266
.Banner





.our-menu{width:100% !important;}
.is-sticky .our-menu{transform: none !important;}
.our-menu ul li{font-size:13px; padding:6px 10px 8px}
.our-menu-list .panel-group{margin-top:20px;}
.option1,
.option2,
.option3{background:none}
.option1:before,
.option2:before,
.option3:before{ display:none}
.optionsLogo{margin:0}
.optionsLogo ul li span:first-child,
.optionsLogo ul li:last-child span:last-child{display:inline-block}
.optionsLogo ul li span:last-child{width:auto; font-size:18px;}
.optionsLogo .option3 ul{display:block; padding:0}
#bwg_container1_0 #bwg_container2_0 .bwg-container-0.bwg-standard-thumbnails .bwg-item{max-width:50% !important}

.google-map{padding-bottom:50%}
}


@media only screen and (max-width:575px) {
.optionsLogo{margin:0}
.optionsLogo ul li span:first-child,
.optionsLogo ul li:last-child span:last-child{display:inline-block}
.optionsLogo ul li span:last-child{width:auto; font-size:18px;}
.optionsLogo .option3 ul{display:block; padding:0}
}

